<div id="<%= dom_id user_permission %>">

  <p>
    <strong>User:</strong>
    <%= user_permission.user_id %>
  </p>

  <p>
    <strong>Permission:</strong>
    <%= user_permission.permission_id %>
  </p>

</div>
