<h1>Editing user permission</h1>

<%= render "form", user_permission: @user_permission %>

<br>

<div>
  <%= link_to "Show this user permission", @user_permission %> |
  <%= link_to "Back to user permissions", user_permissions_path %>
</div>
