<p style="color: green"><%= notice %></p>

<h1>User permissions</h1>

<div id="user_permissions">
  <% @user_permissions.each do |user_permission| %>
    <%= render user_permission %>
    <p>
      <%= link_to "Show this user permission", user_permission %>
    </p>
  <% end %>
</div>

<%= link_to "New user permission", new_user_permission_path %>
